@import url("https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap");
.firstSection1 {
  min-height: 100vh;
  /* background-color: blueviolet; */
  background: url(../../images/daraja010.jpeg) no-repeat center fixed;
  background-size: cover;
  object-fit: contain;
}

.overlay1 {
  border-image: fill 1
    linear-gradient(hsla(186, 95%, 8%, 0.4), hsla(0, 83%, 20%, 0.4));
}

.firstSection {
  width: 95%;
  padding: 2rem 2.6rem;
  padding-right: 4rem;
}

.writerContainer {
  /* text-align: center; */
  /* border: 1px solid red; */
  width: 60%;
  padding: 1rem 1rem 1rem 1rem;
  /* position: absolute; */
  /* translate: 200% 0; */
  /* position: absolute; */
}

.typewriterHeading {
  color: white;
  line-height: 2;
  font-size: clamp(2rem, 5vw, 4rem);
}

.typewriter {
  /* border: 1px solid red; */
  /* color: var(--primary); */
  font-weight: bold;
  margin-bottom: 1.2rem;
  margin-top: 0;
  letter-spacing: 4px;
  color: rgb(255, 252, 252);
  font-family: "Slabo 27px", serif;
  font-weight: 600;
  /* font-size: 3rem; */
  font-style: normal;
  display: block;
}

.cursor {
  margin-bottom: 1.1rem;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.videoMain {
  width: 100%;
}

.videoContainer {
  padding: 2rem;
  width: 100%;
  margin: 0 auto;
}

.intro {
  padding: 2rem;
  margin-bottom: 2rem;
}

.intro > * {
  color: var(--black);
  font-weight: bold;
  font-size: 3rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.intro h2,
.intro h1 {
  text-align: center;
}

.intro p {
  font-weight: 300;
  font-size: 1.7rem;
  line-height: 1.5;
}

.companyName {
  color: var(--primary);
  display: inline-block;
}

.home-imageSlider {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.workEthic {
  width: 100%;
  margin: 0 auto;
}

.workEthicChild {
  width: 100%;
  display: flex;
  padding: 2rem;
  flex-direction: column;
  gap: 3rem;
}

.services {
  font-size: 3rem;
  color: #000;
  text-align: center;
}
