@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.headerSection {
  padding: 2rem 0.1rem;
}

.logoContainerRoot {
  align-items: center;
  margin-bottom: 0;
}

.imgContainer {
  width: 70%;
  padding-bottom: 0;
  margin-bottom: 0;
  /* border: 1px solid red; */
  animation: colorAnim 400ms infinite ease-in-out;
  display: inline-block;
}

@keyframes colorAnim {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.chatlink {
  color: rgb(243, 237, 237);
  text-decoration: overline;
}

.chatlink:hover {
  background: #b4b2b8;
}
